<!-- top navbar-->
<header ng-include="'app/views/teacher/partials/top-navbar.html'" class="topnavbar-wrapper" ng-init="app.layout.isCollapsed = true"></header>
<!-- sidebar-->
<aside ng-include="'app/views/teacher/partials/sidebar.html'" ng-controller="SidebarController" class="aside"></aside>
<!-- offsidebar-->
<aside ng-include="'app/views/teacher/partials/offsidebar.html'" class="offsidebar"></aside>
<!-- Main section-->
<section>
   <!-- Page content-->
   
   <div  autoscroll="false" ng-class="app.viewAnimation" class="content-wrapper">
      

       <h3 class="ng-scope" >
   <!-- START Language list-->

   <!-- END Language list    -->
   Dashboard
   <small class="ng-binding">Welcome to MyChild !</small>
  <!-- START row-->
</h3>
 <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.proxy" template-url="/app/views/uiBreadcrumbs.tpl.html"></ui-breadcrumbs>

       <div ui-view="" autoscroll="false" ng-class="app.viewAnimation" >
           
       </div>   
       
       
   </div>
</section>
<!-- Page footer-->
<footer ng-include="'app/views/teacher/partials/footer.html'"></footer>