
<div class="container-fluid" >
 
   <!-- Export CSV Example-->
   <div class="panel panel-default">
      <div class="panel-heading">
           
          <button class="btn btn-default btn-sm" ng-click="reloadExamList()" type="button"> <span class="icon-reload"></span> Reload Table</button>
          
          <a ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="test.csv" class="pull-right btn btn-sm btn-info">Export to CSV</a>
         
      </div>
       <input style="margin-left: 5px; width: 99%;" type="text" class="form-control"  placeholder="Search here" ng-model="search" >
      <div class="table-responsive">
         
         <table ng-table="table.tableParams" export-csv="csv" class="table table-bordered table-striped {{ examListLoading }}">
             
            <tbody>
                
               <tr ng-repeat="exam in $data | filter: search "">
                 
                  <td data-title="'Exam Name'"  sortable="'examName'">{{exam.examName}}</td>
                  <td data-title="'Type'">{{exam.examType}}</td>
                  <td data-title="'Class'"> {{ (exam.class== 'null') ? exam.grade.gradeName +" "+exam.grade.section : exam.class ;  }}</td>
                
				   <td ui-sref="admin.exam.schedule{{examName:e.examName}}" data-title="''"><a href="javascript:void()">View Details</a> </td>
				
               </tr>
            </tbody>
         </table>
      </div>
   </div>
  
</div>