<div>
    <br><br><br><br><br> 
<div class="row ng-scope">
   <div class="col-lg-4">
      <!-- START widget-->
 
      <!-- END widget-->
   </div>
<div class="col-lg-4">
      <!-- START widget-->
      <div class="panel widget">
         <div class="panel-body">
             <a ui-sref="admin.newGallery">
                 <button class="btn btn-primary btn-lg col-md-12" type="button">Create new album</button>
             </a>
            <h3 class="mt0"></h3>
            <br>
            <br>
              <button class="btn btn-primary btn-lg col-md-12" type="button">View albums</button>
         </div>
           <div class="panel-body">
           
            <h3 class="mt0"></h3>
            
         </div>
      </div>
      <!-- END widget-->
   </div>
   <div class="col-lg-4">
      <!-- START widget-->

      <!-- END widget-->
   </div>
</div>
    
</div>