<div class="col-sm-3">
      <!-- START panel-->
      <div class="panel panel-default" id="panelDemo7">
          <div class="panel-heading" style="vertical-align: text-top;">
              Sort By :     
              
            
                 <ul style="margin: 0px;" class="pagination pagination-sm">
                     
                            <li><a href="#">Show All</a></li>
                            <li><a href="#">Read</a></li>
                            <li><a href="#">Unread</a></li>
                           
                               
                         
                  </ul>
              
          </div>
         <div class="panel-body">
            


            <div class="panel panel-default">
               <div class="panel-heading">
         
                  <div class="panel-title">Received Notices</div>
               </div>
               <!-- START list group-->
               <scrollable height="250" class="list-group">
                  <!-- START list group item-->
                  <a href="#" class="list-group-item">
                     <div class="media-box">
                        <div class="pull-left">
                           <img src="app/img/user/02.jpg" alt="Image" class="media-box-object img-circle thumb32" />
                        </div>
                        <div class="media-box-body clearfix">
                           <small class="pull-right">2h</small>
                           <strong class="media-box-heading text-primary">
                              <span class="circle circle-success circle-lg text-left"></span>Notice from class teacher</strong>
                           <p class="mb-sm">
                              <small>New notice from class teacher</small>
                           </p>
                        </div>
                     </div>
                  </a>
                  <!-- END list group item-->
                  <!-- START list group item-->
                  <a href="#" class="list-group-item">
                     <div class="media-box">
                        <div class="pull-left">
                           <img src="app/img/user/03.jpg" alt="Image" class="media-box-object img-circle thumb32" />
                        </div>
                        <div class="media-box-body clearfix">
                           <small class="pull-right">3h</small>
                           <strong class="media-box-heading text-primary">
                              <span class="circle circle-success circle-lg text-left"></span>Class PTA Meeting on Wednesday</strong>
                           <p class="mb-sm">
                              <small>Cras sit amet nibh libero, in gravida nulla. Nulla facilisi.</small>
                           </p>
                        </div>
                     </div>
                  </a>
                  <!-- END list group item-->
                  <!-- START list group item-->
                  <a href="#" class="list-group-item">
                     <div class="media-box">
                        <div class="pull-left">
                           <img src="app/img/user/09.jpg" alt="Image" class="media-box-object img-circle thumb32" />
                        </div>
                        <div class="media-box-body clearfix">
                           <small class="pull-right">4h</small>
                           <strong class="media-box-heading text-primary">
                              <span class="circle circle-danger circle-lg text-left"></span>Class meeting of parents of 5 A</strong>
                           <p class="mb-sm">
                              <small>Cras sit amet nibh libero, in gravida nulla. Nulla...</small>
                           </p>
                        </div>
                     </div>
                  </a>
                  <!-- END list group item-->
                  <!-- START list group item-->
                  <a href="#" class="list-group-item">
                     <div class="media-box">
                        <div class="pull-left">
                           <img src="app/img/user/12.jpg" alt="Image" class="media-box-object img-circle thumb32" />
                        </div>
                        <div class="media-box-body clearfix">
                           <small class="pull-right">1d</small>
                           <strong class="media-box-heading text-primary">
                              <span class="circle circle-danger circle-lg text-left"></span>Rosa Burke</strong>
                           <p class="mb-sm">
                              <small>Cras sit amet nibh libero, in gravida nulla. Nulla...</small>
                           </p>
                        </div>
                     </div>
                  </a>
                  <!-- END list group item-->
                  <!-- START list group item-->
                  <a href="#" class="list-group-item">
                     <div class="media-box">
                        <div class="pull-left">
                           <img src="app/img/user/10.jpg" alt="Image" class="media-box-object img-circle thumb32" />
                        </div>
                        <div class="media-box-body clearfix">
                           <small class="pull-right">2d</small>
                           <strong class="media-box-heading text-primary">
                              <span class="circle circle-danger circle-lg text-left"></span>Michelle Lane</strong>
                           <p class="mb-sm">
                              <small>Mauris eleifend, libero nec cursus lacinia...</small>
                           </p>
                        </div>
                     </div>
                  </a>
                  <!-- END list group item-->
               </scrollable>
               <!-- END list group-->
               <!-- START panel footer-->
               <div class="panel-footer clearfix">
                  <div class="input-group">
                     <input type="text" placeholder="Search notice .." class="form-control input-sm" />
                     <span class="input-group-btn">
                        <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-search"></i>
                        </button>
                     </span>
                  </div>
               </div>
               <!-- END panel-footer-->
            </div>







         </div>
         <div class="panel-footer"></div>
      </div>
      <!-- END panel-->
   </div>


















<div class="col-sm-9">
      <!-- START panel-->
      <div class="panel panel-default" id="panelDemo7">
          <div class="panel-heading">
              
           
          </div>
         <div class="panel-body">
             <div class="pull-right">21-May-2015</div> <br>
              <div class="pull-right">Monday</div>
            
              <br>
               <br>
                <h4>Notice from class Teacher</h4>
               <hr/>
               <p style="font-size: 16px;">
                 Dear Parents , <br>
                  <br>
                 Welcome to a new school year. I am so excited to have your child in my class this year. I would like to get to know a little more about your child and what I can do to help  your child have a meaningful year.
                 Please answer the following questions and return to me as soon as possible. Your response is very important to me . Together we can make a team. I am looking forward to a great year.
                 
                 <br>
                 <br>
                 <br>
                 
                 Sincerely , 
                 <br>
                 <strong>Richard Parker</strong>
                 <br>
                 Class Teacher 5 , A
                 
             </p>
         </div>
         <div class="panel-footer"></div>
      </div>
      <!-- END panel-->
   </div>