<h5>Sort exams by :</h5>
                   
         
                    <div class="btn-group btn-group-justified mb" style="vertical-align: top;">
      
                        <ul class="pagination pagination-sm" style="margin: 0px;">
                           
                            <li><a href="#">Show All</a></li>
                            <li><a href="#">Latest</a></li>
                            <li><a href="#">Result Published</a></li>
                            <li><a href="#">Result awaiting</a>
                               
                         
                  </ul>         
         </div>
<div class="panel panel-default col-sm-3" style="margin-right: 10px;">
                <div class="panel-heading">
                   <div class="panel-title">
                       
                        <div class="input-group">
                     <input type="text" class="form-control input-sm" placeholder="Search Exam ..">
                     <span class="input-group-btn">
                        <button class="btn btn-default btn-sm" type="submit"><i class="fa fa-search"></i>
                        </button>
                     </span>
                     </div>
                      
                    </div>
               </div>
               <!-- START list group-->
               <scrollable height="380" class="list-group">
                  <!-- START Exam List-->
               
                  
                  
                  
                  
                  
                  
                    <a class="list-group-item" href="#">
                     <div class="media-box">
                    
                        <div class="media-box-body clearfix">
                           <small class="pull-right">1hr</small>
                           <strong class="media-box-heading text-primary">
                              <span class="circle circle-success circle-lg text-left"></span>First Term Model Examination for Class 5</strong>
                           <p class="mb-sm">
                              <small>20-May-2015 to 25-may-2015</small>
                           </p>
                        </div>
                     </div>
                  </a>
                  <!-- END list group item-->
                  
                  
                  <!-- START list group item-->
                  <a class="list-group-item" href="#">
                     <div class="media-box">
                        
                        <div class="media-box-body clearfix">
                           <small class="pull-right">3h</small>
                           <strong class="media-box-heading text-primary">
                              <span class="circle circle-success circle-lg text-left"></span>Class test for class 5 B</strong>
                           <p class="mb-sm">
                              <small>20-May-2015</small>
                           </p>
                        </div>
                     </div>
                  </a>
                  <!-- END list group item-->
                  
                  
                  <!-- START list group item-->
                  <a class="list-group-item" href="#">
                     <div class="media-box">
                      
                        <div class="media-box-body clearfix">
                           <small class="pull-right">4h</small>
                           <strong class="media-box-heading text-primary">
                              <span class="circle circle-danger circle-lg text-left"></span>Class 5th public exams 2015</strong>
                           <p class="mb-sm">
                              <small>2 April 2015 to 25 April 2015</small>
                           </p>
                        </div>
                     </div>
                  </a>
                  <!-- END list group item-->
                  
                  
                
                       <!-- START list group item-->
                  <a class="list-group-item" href="#">
                     <div class="media-box">
                      
                        <div class="media-box-body clearfix">
                           <small class="pull-right">4h</small>
                           <strong class="media-box-heading text-primary">
                              <span class="circle circle-danger circle-lg text-left"></span>Class 5th public exams 2015</strong>
                           <p class="mb-sm">
                              <small>2 April 2015 to 25 April 2015</small>
                           </p>
                        </div>
                     </div>
                  </a>
                  <!-- END list group item-->     <!-- START list group item-->
                  <a class="list-group-item" href="#">
                     <div class="media-box">
                      
                        <div class="media-box-body clearfix">
                           <small class="pull-right">4h</small>
                           <strong class="media-box-heading text-primary">
                              <span class="circle circle-danger circle-lg text-left"></span>Class 5th public exams 2015</strong>
                           <p class="mb-sm">
                              <small>2 April 2015 to 25 April 2015</small>
                           </p>
                        </div>
                     </div>
                  </a>
                  <!-- END list group item-->     <!-- START list group item-->
                  <a class="list-group-item" href="#">
                     <div class="media-box">
                      
                        <div class="media-box-body clearfix">
                           <small class="pull-right">4h</small>
                           <strong class="media-box-heading text-primary">
                              <span class="circle circle-danger circle-lg text-left"></span>Class 5th public exams 2015</strong>
                           <p class="mb-sm">
                              <small>2 April 2015 to 25 April 2015</small>
                           </p>
                        </div>
                     </div>
                  </a>
                  <!-- END list group item-->     <!-- START list group item-->
                  <a class="list-group-item" href="#">
                     <div class="media-box">
                      
                        <div class="media-box-body clearfix">
                           <small class="pull-right">4h</small>
                           <strong class="media-box-heading text-primary">
                              <span class="circle circle-danger circle-lg text-left"></span>Class 5th public exams 2015</strong>
                           <p class="mb-sm">
                              <small>2 April 2015 to 25 April 2015</small>
                           </p>
                        </div>
                     </div>
                  </a>
                  <!-- END list group item-->     <!-- START list group item-->
                  <a class="list-group-item" href="#">
                     <div class="media-box">
                      
                        <div class="media-box-body clearfix">
                           <small class="pull-right">4h</small>
                           <strong class="media-box-heading text-primary">
                              <span class="circle circle-danger circle-lg text-left"></span>Class 5th public exams 2015</strong>
                           <p class="mb-sm">
                              <small>2 April 2015 to 25 April 2015</small>
                           </p>
                        </div>
                     </div>
                  </a>
                  <!-- END list group item-->     <!-- START list group item-->
                  <a class="list-group-item" href="#">
                     <div class="media-box">
                      
                        <div class="media-box-body clearfix">
                           <small class="pull-right">4h</small>
                           <strong class="media-box-heading text-primary">
                              <span class="circle circle-danger circle-lg text-left"></span>Class 5th public exams 2015</strong>
                           <p class="mb-sm">
                              <small>2 April 2015 to 25 April 2015</small>
                           </p>
                        </div>
                     </div>
                  </a>
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  <!-- END Exam list-->
               </scrollable>
               <!-- END list group-->
               <!-- START panel footer-->
               <div class="panel-footer clearfix">
                  Click an item to view in detail
                   <br>
                              <strong class="media-box-heading text-primary">
                              <span class="circle circle-success circle-lg text-left"></span>Result published</strong>
                              <strong class="media-box-heading text-primary">
                              <span class="circle circle-danger circle-lg text-left"></span>Result waiting</strong> 
               </div>
               <!-- END panel-footer-->
            </div>









<!-- Exam details -->





   <div class="panel panel-default col-sm-9">
             
   </div>    